SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/EnquiryMgtServicesReference/EnquiryMgtServices17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="SerializationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Soap" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SerializationMode" nillable="true" type="tns:SerializationMode" />
  <xs:complexType name="CompanyHierarchyEntity">
    <xs:sequence>
      <xs:element name="_BranchID" type="xs:int" />
      <xs:element name="_CompanyID" type="xs:int" />
      <xs:element name="_LOBID" type="xs:int" />
      <xs:element name="_ProductID" type="xs:int" />
      <xs:element name="_UserID" type="xs:int" />
      <xs:element name="_x003C_ProgramCode_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyHierarchyEntity" nillable="true" type="tns:CompanyHierarchyEntity" />
</xs:schema>