SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/EnquiryMgtServicesReference/EnquiryMgtServices13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity.EnquiryResponse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity.EnquiryResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnquiryResponseEntity">
    <xs:sequence>
      <xs:element name="_x003C_ApplicationNumber_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Branch_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Company_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Customer_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_EnquiryResponseDetailId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_EnquiryResponse_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Enquiry_No_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Finance_Amount_Sought_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_LOB_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Offer_Margin_Amount_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Offer_Margin_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Offer_Payment_RuleCard_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Offer_ROI_Rules_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Offer_ResidualValueAmount_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Offer_ResidualValue_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Product_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Repay_Accounting_IRR_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Repay_Block_Depriciation_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Repay_Book_Depriciation_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Repay_Business_IRR_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Repay_Company_IRR_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Repay_Summary_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Residual_Margin_Amount_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Responded_By_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Response_Date_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Tenure_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_WorkFlow_Sequence_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_XML_REPAYSTRUCTURE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XML_ROIRULE_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlAlertDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlCashInflowDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlFollowDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlOutFlowDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlRepaymentDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnquiryResponseEntity" nillable="true" type="tns:EnquiryResponseEntity" />
</xs:schema>