SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ContractMgtServicesReference/ContractMgtServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/LoanAdmin/ContractMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubCreateRevisionSpecification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjS3G_LOANAD_RevisionSpecificationDataTable" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="ObjSysJournal" nillable="true" type="q2:ClsSystemJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateRevisionSpecificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateRevisionSpecificationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strRevisionNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateOrModifySpecificationArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q3:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjRepayDetailsIRRArchiveHeader_DataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateOrModifySpecificationArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateOrModifySpecificationArchiveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateSpecificationRevisionMasterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q4:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjRepayDetailsIRRArchiveHeader_DataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateSpecificationRevisionMasterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateSpecificationRevisionMasterDetailsResult" type="xs:int" />
        <xs:element minOccurs="0" name="RevisionDocumentNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateBulkRevisionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q5:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjS3G_LOANAD_BulkRevisionDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateBulkRevisionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateBulkRevisionDetailsResult" type="xs:int" />
        <xs:element minOccurs="0" name="strBulkRevNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountActivation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q6:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAccountActivationDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountActivationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAccountActivationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunActiavtedAccountForModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAccountNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunActiavtedAccountForModificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunActiavtedAccountForModificationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAccountDetailsForClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSANum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAccountDetailsForClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetAccountDetailsForClosureResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q7:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAccountClosureDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intClosureType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAccountClosureResult" type="xs:int" />
        <xs:element minOccurs="0" name="strAccClosureNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intClosureDetailId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountClosureDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q8:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAccountClosureDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intClosureType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountClosureDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAccountClosureDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAccountsClosedForModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAccClosureNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strSANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intClosureDetailId" type="xs:int" />
        <xs:element minOccurs="0" name="intCompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAccountsClosedForModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetAccountsClosedForModifyResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCancelAccountClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q9:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjCancelClosureDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intClosureType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCancelAccountClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCancelAccountClosureResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCancelPMCClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q10:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjCancelClosureDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCancelPMCClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCancelPMCClosureResult" type="xs:int" />
        <xs:element minOccurs="0" name="strErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateBulkClosure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q11:SerializationMode" />
        <xs:element minOccurs="0" name="byteBulkClosureFomatService" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateBulkClosureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateBulkClosureResult" type="xs:int" />
        <xs:element minOccurs="0" name="strBulkClosureNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetApplicationProcessDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intApplicationProcessId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetApplicationProcessDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetApplicationProcessDetailsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertAccountCreationInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="objAccountCreationEntity" nillable="true" type="q12:AccountCreationEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertAccountCreationIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubInsertAccountCreationIntResult" type="xs:int" />
        <xs:element minOccurs="0" name="strPASANo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyAccountCreationInt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="objAccountCreationEntity" nillable="true" type="q13:AccountCreationEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyAccountCreationIntResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyAccountCreationIntResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateAccountStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="objAccountCreationEntity" nillable="true" type="q14:AccountCreationEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateAccountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubUpdateAccountStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetMLASLAApplicable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intLobId" type="xs:int" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetMLASLAApplicableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetMLASLAApplicableResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountConsolidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q15:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAccountConsolidationDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountConsolidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAccountConsolidationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strAcConNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountSplit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q16:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAccountSplitDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAccountSplitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAccountSplitResult" type="xs:int" />
        <xs:element minOccurs="0" name="strSplitNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateTransferAccountDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q17:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjS3G_Sys_TransferAccounts1DataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateTransferAccountDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateTransferAccountDetailsResult" type="xs:int" />
        <xs:element minOccurs="0" name="strTotalCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>