SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ReportOrgColMgtServicesReference/ReportOrgColMgtServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsPubDemandSelectionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CATEGORY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="DEBTCOLLECTOR_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEMANDMONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubDemandSelectionCriteria" nillable="true" type="tns:ClsPubDemandSelectionCriteria" />
  <xs:complexType name="ClsPubStockReceivableparameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToMonth" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubStockReceivableparameters" nillable="true" type="tns:ClsPubStockReceivableparameters" />
  <xs:complexType name="ClsPubCredit">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="End_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOBId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Start_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubCredit" nillable="true" type="tns:ClsPubCredit" />
</xs:schema>