SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ReportOrgColMgtServicesReference/ReportOrgColMgtServices44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsPubCredit">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="End_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOBId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId1" type="xs:int" />
      <xs:element minOccurs="0" name="LocationId2" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Start_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubCredit" nillable="true" type="tns:ClsPubCredit" />
  <xs:complexType name="ClsPubEnquiryParameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="Denomination" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LOCATION_ID1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCATION_ID2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option" type="xs:int" />
      <xs:element minOccurs="0" name="PROGRAM_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USER_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubEnquiryParameters" nillable="true" type="tns:ClsPubEnquiryParameters" />
  <xs:complexType name="ClsPubStockReceivableparameters">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUST_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denomination" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_ID" type="xs:int" />
      <xs:element minOccurs="0" name="GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDUSTRY_ID" type="xs:int" />
      <xs:element minOccurs="0" name="INDUSTRY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERENCE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubStockReceivableparameters" nillable="true" type="tns:ClsPubStockReceivableparameters" />
  <xs:complexType name="ClsPubDemandSelectionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="CATEGORY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="DEBTCOLLECTOR_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEMANDMONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationID2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="enddate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="option" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubDemandSelectionCriteria" nillable="true" type="tns:ClsPubDemandSelectionCriteria" />
  <xs:complexType name="ClsPubPerformance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asset_Type" type="xs:int" />
      <xs:element minOccurs="0" name="Company_ID" type="xs:int" />
      <xs:element minOccurs="0" name="From_ComDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Location_ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Location_ID2" type="xs:int" />
      <xs:element minOccurs="0" name="Mode" type="xs:int" />
      <xs:element minOccurs="0" name="Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Program_ID" type="xs:int" />
      <xs:element minOccurs="0" name="To_ComDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubPerformance" nillable="true" type="tns:ClsPubPerformance" />
  <xs:complexType name="ClsPubAssetPerfParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentMonthEndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentMonthStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denomintion" type="xs:decimal" />
      <xs:element minOccurs="0" name="FinMonthYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinYearStartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinYearStartEnd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IRR_Type" type="xs:int" />
      <xs:element minOccurs="0" name="LOB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Report_Type" type="xs:int" />
      <xs:element minOccurs="0" name="RptGenTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubAssetPerfParam" nillable="true" type="tns:ClsPubAssetPerfParam" />
  <xs:complexType name="ClsPubDCHeaderParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Customer_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lob_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PANum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubDCHeaderParams" nillable="true" type="tns:ClsPubDCHeaderParams" />
  <xs:complexType name="ClsPubIncomeReportParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentFinYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CutoffMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CutoffMonth_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Denomintion" type="xs:decimal" />
      <xs:element minOccurs="0" name="FinYearstart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="LOB_ID1" type="xs:int" />
      <xs:element minOccurs="0" name="LOB_ID2" type="xs:int" />
      <xs:element minOccurs="0" name="LOB_ID3" type="xs:int" />
      <xs:element minOccurs="0" name="LOB_ID4" type="xs:int" />
      <xs:element minOccurs="0" name="Location_ID1" type="xs:int" />
      <xs:element minOccurs="0" name="Location_ID2" type="xs:int" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousFinYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Program_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Report_Type" type="xs:int" />
      <xs:element minOccurs="0" name="User_ID" type="xs:int" />
      <xs:element minOccurs="0" name="XMLLOB_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubIncomeReportParams" nillable="true" type="tns:ClsPubIncomeReportParams" />
  <xs:complexType name="ClsPubProbDelinqParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Company_Id" type="xs:int" />
      <xs:element minOccurs="0" name="DemandMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lob_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubProbDelinqParam" nillable="true" type="tns:ClsPubProbDelinqParam" />
</xs:schema>