SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ReportOrgColMgtServicesReference/ReportOrgColMgtServices13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsPubCredit">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="End_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOBId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Start_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubCredit" nillable="true" type="tns:ClsPubCredit" />
</xs:schema>