SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/OrgMasterMgtServicesReference/OrgMasterMgtServices9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="SerializationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Soap" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SerializationMode" nillable="true" type="tns:SerializationMode" />
  <xs:complexType name="CustomerMasterBusEntity">
    <xs:sequence>
      <xs:element name="_x003C_Annual_Sale_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Assignment_Collection_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Auditor_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_BookValueofShares_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_BusinessProfile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Business_Activity_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Business_Firm_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CEOAge_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CEOExperienceInYears_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CEOName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CEOWeddingDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CUSTOMER_NAME1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUSTOMER_NAME2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUSTOMER_NAME3_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUSTOMER_NAME4_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUSTOMER_NAME5_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CUSTOMER_NAME6_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Children_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CoApplicant_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Comm_Address1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_Address2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_Mobile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_PINCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_Telephone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Comm_Website_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Company_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Constitution_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Covenants_Applicable_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Covenants_Clause_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Created_By_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreditType_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurrentMarketValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Cust_Tax_App_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Cust_VAT_TIN_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerPostingGroupCode_ID_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_CustomerType_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Customer_Branch_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Customer_Group_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Customer_Industry_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Customer_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Date_Of_Join_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_DateofBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Department_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Designation_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Driving_Lic_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Employee_Code_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Employer_CR_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Employer_Eco_Act_Code_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Employer_Name_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Enquiry_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ExprDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Fac_Applicable_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Fac_Limit_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Fac_Type_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_FaceValueofShares_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Fact_Limit_Exp_date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Family_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Financial_received_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Financial_required_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_GROUP_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Gender_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Geographicalcoverage_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_GovernmentInstitutionalParticipation_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GroupCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Groupname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Guarantor1_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Guarantor2_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_HouseORFlat_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ISOwn_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IS_BlockListed_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_IS_SME_FORCED_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_IndustryCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IndustryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Is_BW_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_JVPartnerName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_JVPartnerStake_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Key_deci_Maker_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LOB_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Labour_Card_Exp_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Labour_Card_Issue_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Labour_Card_No_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Land_Collateral_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ListedAtStockExchange_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MFC_Employee_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MFC_Employee_Indi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MaritalStatus_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Max_Lend_Amount_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Max_Lend_Limit_Exp_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Mode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Modified_By_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Monthily_Income_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_NID_CR_RID_Exp_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_NID_CR_RID_Issue_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_NID_CR_RID_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NRID_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Nationality_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NoOfBranches_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_NoOfDirectors_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Non_MOCI_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Notes_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_OCCI_Exp_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_OCCI_Issue_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Occupation_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Other_Employer_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PaidupCapital_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Passport_Exp_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Passport_Issue_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Passport_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PercentageOfStake_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Perm_Address1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_Address2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_Mobile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_PINCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_Telephone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Perm_Website_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Place_of_Work_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Profession_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PublicCloselyheld_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Qualification_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Reason_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Related_Parti_Indi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ReleaseDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_RemainingLoanValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Residence_Oman_Since_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ResidentialAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SME_Indicator_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Seni_Mem_Applicable_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Seni_Mem_Profession_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Seni_Mem_Rela_Indi_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Seni_Mem_Status_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SpouseName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Stock_Stmt_Frequency_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SubIndustryCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SubIndustryName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TOTAL_DEPENDENTS_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TotalDependents_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_TotalNetMorth_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Total_Asset_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Type_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_VIP_Customer_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ValidUpto_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Visa_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WeddingAnniversaryDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_XmlAdditionalInfo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlAddressDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlBankDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlConstitutionalDocuments_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlCreditDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlShareDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlSubLimitDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlTrackDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerMasterBusEntity" nillable="true" type="tns:CustomerMasterBusEntity" />
  <xs:complexType name="S3G_Status_Parameters">
    <xs:sequence>
      <xs:element name="_x003C_Option_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Param1_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Param2_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Param3_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Param4_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Param5_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="S3G_Status_Parameters" nillable="true" type="tns:S3G_Status_Parameters" />
</xs:schema>