SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/FAAdminServiceReference/FAAdminServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FA_BusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FA_BusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FAPagingValues">
    <xs:sequence>
      <xs:element name="_x003C_ProCompany_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProCurrentPage_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProOrderBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProPageSize_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProProgram_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProSearchValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProTotalRecords_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProUser_ID_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FAPagingValues" nillable="true" type="tns:FAPagingValues" />
  <xs:simpleType name="FASerializationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Soap" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FASerializationMode" nillable="true" type="tns:FASerializationMode" />
</xs:schema>