SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ClnReceivableMgtServicesReference/ClnReceivableMgtServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/Collection/ClnReceivableMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubCreateDelinquentParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjDelinquentDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateDelinquentParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateDelinquentParametersResult" type="xs:int" />
        <xs:element minOccurs="0" name="DSNO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyDelinquentParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q2:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjS3G_CLN_DelinquencyTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyDelinquentParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyDelinquentParametersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubDeactivateDelinquencyType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q3:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjDelinquentDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubDeactivateDelinquencyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubDeactivateDelinquencyTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateDelinquencySpooling">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q4:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjDelinquencySpoolingDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateDelinquencySpoolingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateDelinquencySpoolingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateDemandProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q5:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjDemandProcessingDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateDemandProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateDemandProcessingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyDemandProcessing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q6:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjDemandProcessingDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyDemandProcessingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyDemandProcessingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateManualBucketClassifcation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q7:SerializationMode" />
        <xs:element minOccurs="0" name="bytesManualBucketClassifcation_Datatable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateManualBucketClassifcationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateManualBucketClassifcationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyManualBucketClassifcationcategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q8:SerializationMode" />
        <xs:element minOccurs="0" name="bytesManualBucketClassifcation_Datatable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyManualBucketClassifcationcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyManualBucketClassifcationcategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateBucketParameterDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q9:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjS3G_CLN_BucketParameterDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateBucketParameterDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateBucketParameterDetailsResult" type="xs:int" />
        <xs:element minOccurs="0" name="strBuckNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateLoanToValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q10:SerializationMode" />
        <xs:element minOccurs="0" name="bytesLoanToValueDatatable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateLoanToValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateLoanToValueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateMarketValueEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q11:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjMarketEntryDAL_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateMarketValueEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateMarketValueEntryResult" type="xs:int" />
        <xs:element minOccurs="0" name="strMVENumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateMarketValueEntryGL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q12:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjMarketEntryDAL_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateMarketValueEntryGLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateMarketValueEntryGLResult" type="xs:int" />
        <xs:element minOccurs="0" name="strMVENumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunMarketEntryForModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strMarketValueNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunMarketEntryForModificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunMarketEntryForModificationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateandModifyDCRDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q13:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjDCR" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateandModifyDCRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateandModifyDCRDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>