SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/WorkflowMgtServiceReference/WorkflowMgtService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkFlowStatus">
    <xs:sequence>
      <xs:element name="intBranchId" type="xs:int" />
      <xs:element name="intCompanyId" type="xs:int" />
      <xs:element name="intLOBId" type="xs:int" />
      <xs:element name="intProductId" type="xs:int" />
      <xs:element name="intProgramRefNo" type="xs:int" />
      <xs:element name="intUserId" type="xs:int" />
      <xs:element name="strTaskDocumentNo" nillable="true" type="xs:string" />
      <xs:element name="strTaskStatus" nillable="true" type="xs:string" />
      <xs:element name="strWorkPrgId" nillable="true" type="xs:string" />
      <xs:element name="strWorkSequenceId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkFlowStatus" nillable="true" type="tns:WorkFlowStatus" />
</xs:schema>