SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/WorkflowMgtServiceReference/WorkflowMgtService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/WorkflowMgtService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubInsertWorkflowStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="objWorkflowStatus" nillable="true" type="q1:WorkFlowStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertWorkflowStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubInsertWorkflowStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPreDisDocTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPreDisDocTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadPreDisDocTransactionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadFIRTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
        <xs:element minOccurs="0" name="PANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SANum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadFIRTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadFIRTransactionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadProforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
        <xs:element minOccurs="0" name="PANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SANum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadProformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadProformaResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
        <xs:element minOccurs="0" name="PANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SANum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadInvoiceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPostDisb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
        <xs:element minOccurs="0" name="PANum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SANum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPostDisbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadPostDisbResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadEnquiryCustomerAppraisal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadEnquiryCustomerAppraisalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadEnquiryCustomerAppraisalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadCreditGuideTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadCreditGuideTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadCreditGuideTransactionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadCreditParameterApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadCreditParameterApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadCreditParameterApprovalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPricing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPricingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadPricingResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPricingApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEnquiryNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intDocument_Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadPricingApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadPricingApprovalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetUserAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intUserId" type="xs:int" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetUserAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetUserAccessResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadApplicationApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strApplicationNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubLoadApplicationApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubLoadApplicationApprovalResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>