SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ScheduledJobMgtServicesReference/ScheduledJobMgtServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/ScheduledJobs/ScheduledJobMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubCreateScheduledJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjScheduledJobsDatatable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateScheduledJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateScheduledJobsResult" type="xs:int" />
        <xs:element minOccurs="0" name="strScheduleJobID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateScheduleJobStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intSchedule_Job_StatusID" type="xs:int" />
        <xs:element minOccurs="0" name="intReRun_StatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateScheduleJobStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubUpdateScheduleJobStatusResult" type="xs:int" />
        <xs:element minOccurs="0" name="intErrorCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>