SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/TPAMgtServicesReference/TPAMgtServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/TPAMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubCreateUTPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAMasterDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateUTPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateUTPAResult" type="xs:int" />
        <xs:element minOccurs="0" name="intUTPAID_Out" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyUTPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q2:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAMasterDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyUTPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyUTPAResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryUTPA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q3:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAMasterDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryUTPAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubQueryUTPAResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateUTPAProgramAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q4:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAProgramAccessDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateUTPAProgramAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateUTPAProgramAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyUTPAProgramAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q5:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAProgramAccessDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyUTPAProgramAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyUTPAProgramAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubDeleteUTPAProgramAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intUTPA_Prog_Access_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubDeleteUTPAProgramAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubDeleteUTPAProgramAccessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryUTPAProgramAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q6:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAProgramAccessDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryUTPAProgramAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubQueryUTPAProgramAccessResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryUTPAPaging">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q7:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjUTPAMasterDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="ObjPaging" nillable="true" type="q8:PagingValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryUTPAPagingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubQueryUTPAPagingResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intTotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>