SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/CreditParameterMgtServicesReference/CreditParameterMgtServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/Origination/CreditParameterMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubInsertCreditParamTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="ObjCreditParameterTransDTO" nillable="true" type="q1:CreditParameterTransactionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCreditParamTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubInsertCreditParamTransactionResult" type="xs:int" />
        <xs:element minOccurs="0" name="CreditParamNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCreditParamTransactionScoreDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="ObjCreditParamterTransScoreDTO" nillable="true" type="q2:CreditParamterTransScoreDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCreditParamTransactionScoreDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetEnquiryCustomerAppraisalCPT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intAppraisalType" type="xs:int" />
        <xs:element minOccurs="0" name="intCompanyId" type="xs:int" />
        <xs:element minOccurs="0" name="intAppraisalId" type="xs:int" />
        <xs:element minOccurs="0" name="intPageSize" type="xs:int" />
        <xs:element minOccurs="0" name="intCurrentPage" type="xs:int" />
        <xs:element minOccurs="0" name="strSearchValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOrderBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intTotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetEnquiryCustomerAppraisalCPTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetEnquiryCustomerAppraisalCPTResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetCreditParameterTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCreditParamTransId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetCreditParameterTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetCreditParameterTransactionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyCreditParamTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="ObjCreditParameterTransactionEntity" nillable="true" type="q3:CreditParameterTransactionEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyCreditParamTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyCreditParamTransactionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>