SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/CreditParameterMgtServicesReference/CreditParameterMgtServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditParameterTransactionEntity">
    <xs:sequence>
      <xs:element name="_x003C_AppraisalId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CompanyId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreatedBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreatedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreditParamDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_CreditParamNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CustomerId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Document_Type_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_EnquiryResponseId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ErrorCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModifiedBy_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ModifiedOn_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_StatusId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_XmlOthers_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_XmlScoreDetails_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditParameterTransactionEntity" nillable="true" type="tns:CreditParameterTransactionEntity" />
  <xs:complexType name="CreditParamterTransScoreDTO">
    <xs:sequence>
      <xs:element name="_x003C_ActualScore_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Created_By_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreditParamTrans_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CreditScore_Item_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GlobalParameter_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PercentageImportance_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_RequiredScore_x003E_k__BackingField" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditParamterTransScoreDTO" nillable="true" type="tns:CreditParamterTransScoreDTO" />
</xs:schema>