SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/S3GAdminServicesReference/S3GAdminServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/S3GAdminServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PagingValues">
    <xs:sequence>
      <xs:element name="_x003C_ProCompany_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProCurrentPage_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProOrderBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProProgram_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProSearchValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProTotalRecords_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProUser_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="intPageId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingValues" nillable="true" type="tns:PagingValues" />
  <xs:complexType name="ClsSystemJournal">
    <xs:sequence>
      <xs:element name="_x003C_Account_Link_Key_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Accounting_Flag_x003E_k__BackingField" type="ser:char" />
      <xs:element name="_x003C_Branch_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Company_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Created_By_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Customer_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_GL_Account_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Global_Dimension1_Code_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Global_Dimension1_No_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Global_Dimension2_Code_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Global_Dimension2_No_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_JV_Status_Code_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LOB_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Narration_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Occurrence_No_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Payment_Type_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Program_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Reference_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Report_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Sub_GL_Account_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Sub_Reference_Number_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Txn_Amount_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Txn_Currency_Code_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Value_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_XMLSysJournal_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsSystemJournal" nillable="true" type="tns:ClsSystemJournal" />
  <xs:simpleType name="SerializationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Soap" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SerializationMode" nillable="true" type="tns:SerializationMode" />
</xs:schema>