SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/CommonMailServiceReference/CommonMail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/CommonMail.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClsPubCOM_Mail">
    <xs:sequence>
      <xs:element name="_x003C_ProBCCRW_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProCCRW_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ProFileAttachementRW_x003E_k__BackingField" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element name="_x003C_ProFromRW_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProMessageRW_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProSubjectRW_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProTORW_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubCOM_Mail" nillable="true" type="tns:ClsPubCOM_Mail" />
</xs:schema>