SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/AssetMgtServicesReference/AssetMgtServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/LoanAdmin/AssetMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubCreateAssetVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAssetVerificationDAL_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAssetVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAssetVerificationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyAssetVerification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q2:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAssetVerificationDAL_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubModifyAssetVerificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubModifyAssetVerificationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strErrMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunVerifedAssetForModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAssetNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunVerifedAssetForModificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunVerifedAssetForModificationResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetPANumCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strPANum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetPANumCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetPANumCustomerResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAssetVendorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intVendorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAssetVendorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetAssetVendorDetailsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAssetDetailsForVendor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intInvoiceID" type="xs:int" />
        <xs:element minOccurs="0" name="intPASAID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAssetDetailsForVendorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetAssetDetailsForVendorResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetPASArefID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intPAN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intSAN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetPASArefIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetPASArefIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAssetIdentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q3:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAssetVerificationDAL_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAssetIdentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAssetIdentificationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strDuplication" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDSNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAssetIdentificationforModify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAssetID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intCompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="intBranchID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetAssetIdentificationforModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetAssetIdentificationforModifyResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateLeaseAssetSaleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q4:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjLeaseAssetSaleDatatable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateLeaseAssetSaleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateLeaseAssetSaleDetailsResult" type="xs:int" />
        <xs:element minOccurs="0" name="strLASNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAssetAcquisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q5:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAssetAcquisitionDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateAssetAcquisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateAssetAcquisitionResult" type="xs:int" />
        <xs:element minOccurs="0" name="DSN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryAssetAcquisition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q6:SerializationMode" />
        <xs:element minOccurs="0" name="bytesObjAssetAcquisitionDataTable_SERLAY" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubQueryAssetAcquisitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubQueryAssetAcquisitionResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>