SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ReportCAMPMgtServicesReference/ReportCAMPMgtServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/Reports/ReportCAMPMgtServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:3220/Reports/ReportCAMPMgtServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubFillAutoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strProcName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dctProcParams" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubFillAutoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubFillAutoListResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubFillDataset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strProcName" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dctProcParams" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubFillDatasetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubFillDatasetResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubFillGridPagingReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strProcName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dctProcParams" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="ObjPaging" nillable="true" type="q4:PagingValues" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubFillGridPagingReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubFillGridPagingReportsResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="intTotalRecords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>