SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ReportCAMPMgtServicesReference/ReportCAMPMgtServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PagingValues">
    <xs:sequence>
      <xs:element name="_x003C_ProCompany_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProCurrentPage_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProOrderBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProProgram_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProSearchValue_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ProTotalRecords_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ProUser_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="intPageId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingValues" nillable="true" type="tns:PagingValues" />
</xs:schema>