SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/ReportAccountsMgtServicesReference/ReportAccountsMgtServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/S3GBusEntity.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsPubBranchInputSelectionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMENDDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CMSTARTDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CUTOFFPREVIOUSMONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CutOffMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CutOffYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FYSTARTDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinancialMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Financial_Year_From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubBranchInputSelectionCriteria" nillable="true" type="tns:ClsPubBranchInputSelectionCriteria" />
  <xs:complexType name="ClsPubDisburseSelectionCriteria">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDetail" type="xs:boolean" />
      <xs:element minOccurs="0" name="LobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsPubDisburseSelectionCriteria" nillable="true" type="tns:ClsPubDisburseSelectionCriteria" />
</xs:schema>