SISLS3GPLayer/SISLS3GPLayer/App_WebReferences/CollateralMgtServicesReference/CollateralMgtServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3220/Collateral/CollateralMgtServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/S3GBusEntity" />
  <xs:element name="FunPubCreateCollateralValuation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q1:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjS3G_CLT_CollValuationDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralValuationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateCollateralValuationResult" type="xs:int" />
        <xs:element minOccurs="0" name="strCVal_No" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q2:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjS3G_CLT_CollateralMasterDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateCollateralMasterResult" type="xs:int" />
        <xs:element minOccurs="0" name="strCollateralRefNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q3:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjS3G_CLT_CollCaptureDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralCaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateCollateralCaptureResult" type="xs:int" />
        <xs:element minOccurs="0" name="strCollCapNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetCollateralDetailsID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCompany" type="xs:int" />
        <xs:element minOccurs="0" name="intLiquidityType" type="xs:int" />
        <xs:element minOccurs="0" name="intCollLevelCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunGetCollateralDetailsIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunGetCollateralDetailsIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCollateralStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q4:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjCollateralStorage" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCollateralStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCollateralStorageResult" type="xs:int" />
        <xs:element minOccurs="0" name="StrCollateralStorage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCollateralSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteobjCollateralSale" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q5:SerializationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCollateralSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubInsertCollateralSaleResult" type="xs:int" />
        <xs:element minOccurs="0" name="CollateralSaleNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateCollateralSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteobjCollateralSale" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q6:SerializationMode" />
        <xs:element minOccurs="0" name="ColSaleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateCollateralSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubUpdateCollateralSaleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetColSaleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ColSaleId" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetColSaleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetColSaleDetailsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralSaleApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q7:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjS3G_CLT_ApprovalDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubCreateCollateralSaleApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubCreateCollateralSaleApprovalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateCollateralSaleInvoicedetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteobjCollateralSale" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q8:SerializationMode" />
        <xs:element minOccurs="0" name="ColSaleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateCollateralSaleInvoicedetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubUpdateCollateralSaleInvoicedetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCollateralRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteobjCollateralRelease" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q9:SerializationMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubInsertCollateralReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubInsertCollateralReleaseResult" type="xs:int" />
        <xs:element minOccurs="0" name="CollateralReleaseNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateCollateralRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="byteobjCollateralRelease" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q10:SerializationMode" />
        <xs:element minOccurs="0" name="ColReleaseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubUpdateCollateralReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubUpdateCollateralReleaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetColReleaseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ColReleaseId" type="xs:int" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubGetColReleaseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubGetColReleaseDetailsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubTradeAdvanceCollatralMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q11:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjS3G_CLT_CollateralMasterDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubTradeAdvanceCollatralMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubTradeAdvanceCollatralMasterResult" type="xs:int" />
        <xs:element minOccurs="0" name="strCollateralRefNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubTACreateCollateralCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/S3GBusEntity" minOccurs="0" name="SerMode" type="q12:SerializationMode" />
        <xs:element minOccurs="0" name="byteobjS3G_CLT_CollCaptureDataTable" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunPubTACreateCollateralCaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunPubTACreateCollateralCaptureResult" type="xs:int" />
        <xs:element minOccurs="0" name="strCollCapNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunTAGetCollateralDetailsID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intCompany" type="xs:int" />
        <xs:element minOccurs="0" name="intLiquidityType" type="xs:int" />
        <xs:element minOccurs="0" name="intCollLevelCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunTAGetCollateralDetailsIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FunTAGetCollateralDetailsIDResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>